body {
  background: rgb(43, 43, 43);
  color: white;
  text-shadow: purple 2px 2px;
  text-align: center;
  padding-top: 160px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}

